<%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

    <% if @contact.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :Name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Name, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:Name]) %>
  </div>
  <div class="control-group">
    <%= f.label :Email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :Email, :class => 'form-control' %>
    </div>
    <%= error_span(@contact[:Email]) %>
  </div>
  <div class="control-group">
    <%= f.label :Message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :Message, :class => 'form-control' %>
    </div>
      <%= error_span(@contact[:Message])%>
  </div>
<br />
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            contacts_path, :class => 'btn btn-default' %>

<% end %>
